@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Raleway:wght@700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shelf1 {
    display: grid;
    margin-top: 0vh;
    grid-template-rows: 65% 35%;
    width: 100%;
    height: 13vh;
    background-color: #87CEEB;
}

.shelf1 .topShelf1Items {
    display: grid;
    grid-template-columns: 11% 12% 57% 20%;
    grid-template-areas: 'logoShelf1Items placeAdShelf1Items centerShelf1Items rightShelf1Items' ;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .logoShelf1Items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shelf1 .topShelf1Items .logoShelf1Items .mainLogoCon {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 'mainLogoIcon mainLogoName';
    width: 90%;
    height: 70%;
    cursor: pointer;
}

.shelf1 .topShelf1Items .logoShelf1Items .mainLogoCon .mainLogoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .logoShelf1Items .mainLogoCon .mainLogoIcon i {
    font-size: 2vw;
}

.shelf1 .topShelf1Items .logoShelf1Items .mainLogoCon .mainLogoName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .logoShelf1Items .mainLogoCon .mainLogoName p {
    font-size: 1.9vw;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf1 .topShelf1Items .placeAdShelf1Items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shelf1 .topShelf1Items .placeAdShelf1Items .placeAdBtnCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 87%;
}

.shelf1 .topShelf1Items .placeAdShelf1Items .placeAdBtnCon button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: rgb(224, 0, 0, 1);
    width: auto;
    height: 70%;
    font-size: 1.2vw;
    font-weight: 500;
}

.shelf1 .topShelf1Items .placeAdShelf1Items .placeAdBtnCon button:hover {
    background-color: rgb(236, 62, 62);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}


.shelf1 .topShelf1Items .centerShelf1Items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 87%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(33, 34, 35, 0.6);
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group {
    width: 95%;
    height: 65%;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group .form-control {
    font-size: 1.2vw;
    max-width: 85%;
    height: 100%;
    border-radius: 4px !important;
    caret-color: rgb(224, 0, 0, 1);
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group .form-control::placeholder {
    color: rgb(161, 159, 159);
    font-size: 1.2vw;
    font-weight: 400;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group .input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group .input-group-append span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(224, 0, 0, 1);
    border-radius: 4px !important;
    border: 1.5px solid transparent;
}

.shelf1 .topShelf1Items .centerShelf1Items .centerShelf1ItemsSearchbarCon .mainSearchbarCon .input-group .input-group-append span:hover {
    cursor: pointer;
    background-color: rgb(237, 99, 99);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.shelf1 .topShelf1Items .rightShelf1Items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .rightShelf1Items .currentUserAddressStatusDisplayCon {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 'locationIconCon currentUserAddressStatusDisplay';
    width: fit-content;
    height: 60%;
    padding: 1%;
    border: 1.5px solid transparent;
}

.shelf1 .topShelf1Items .rightShelf1Items .currentUserAddressStatusDisplayCon p {
    white-space: nowrap;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    cursor: default;
}

.shelf1 .topShelf1Items .rightShelf1Items .currentUserAddressStatusDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .topShelf1Items .rightShelf1Items .currentUserAddressStatusDisplay p {
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf1 .bottomShelf1Items {
    display: grid;
    grid-template-columns: 16% 68% 16%;
    grid-template-areas: 'bottomShelf1ItemsGroup1 bottomShelf1ItemsGroup2 bottomShelf1ItemsGroup3';
    width: 100%;
    height: 100%;
    background-color: #eaeef2;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup1 p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Akaya Telivigala', cursive;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.5vw;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup2 p {
    font-size: 1.1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup2 p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
} 

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 .quickLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    border: 1.5px solid transparent;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 .quickLinks .dropdown {
    width: 100%;
    height: 100%;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 .quickLinks .dropdown button {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 .quickLinks .dropdown button i {
    font-size: 1.4vw;
    color: #000000;
}

.shelf1 .bottomShelf1Items .bottomShelf1ItemsGroup3 .quickLinks .dropdown ul li {
    cursor: pointer;
}

.topAdCon {
    display: flex;
    margin-top: 3vh;
    width: 100%;
    height: 14vh;
}

.topAdCon .sideInfo {
    display: flex;
    text-align: center;
    justify-content: end;
    width: 17%;
    height: inherit;
    border-top: 1.2px solid #187bcd;
    border-right: 1.2px solid #187bcd;
    border-bottom: 1.2px solid #187bcd;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topAdCon .sideInfo p {
    font-size: 0.9vw;
    margin: auto;
}

.topAdCon .adCon {
    width: 40%;
    height: inherit;
    position: relative;
    right: 8.5%;
    margin-left: auto;
    margin-right: auto;
}

.topAdCon .adCon img {
    width: 100%;
    height: 100%;
}

.shelf2 {
    display: grid;
    grid-template-rows: 47.5% 5% 47.5%;
    width: 100%;
    height: 45vh;
    margin-top: 8vh;
}

.shelf2 .topShelf2Items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories {
    width: 20%;
    height: 100%;
    margin-left: 2%;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems {
    display: flex;
    width: 100%;
    height: 16.6666%;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level1P {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level1P i {
    font-size: 1.1vw;
    color: rgb(224, 0, 0, 1);
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level2P {
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level2P:hover {
    color: #187bcd;
    cursor: pointer;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level3P {
    color: rgb(224, 0, 0, 1);
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.shelf2 .topShelf2Items .topShelf2ItemsCategories .topShelf2ItemsCategoriesItems .level3P:hover > i {
    color: #000000;
}

.shelf2 .bottomShelf2Items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories {
    width: 20%;
    height: 100%;
    margin-left: 2%;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems {
    display: flex;
    width: 100%;
    height: 16.6666%;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level1P {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level1P i {
    font-size: 1.1vw;
    color: rgb(224, 0, 0, 1);
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level2P {
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level2P:hover {
    color: #187bcd;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level3P {
    color: rgb(224, 0, 0, 1);
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.shelf2 .bottomShelf2Items .bottomShelf2ItemsCategories .bottomShelf2ItemsCategoriesItems .level3P:hover > i {
    color: #000000;
}

.shelf3 {
    display: grid;
    grid-template-rows: 32% 2% 32% 2% 32%;
    width: 93%;
    height: 150vh;
    margin-top: 5vh;
    margin-left: 3.5%;
}

.shelf3 .shelf3Items {
    display: grid;
    grid-template-rows: 15% 5% 80%;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .topShelf3ItemsCon {
    display: flex;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .topShelf3ItemsCon p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.8vw;
    font-weight: 700;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items {
    display: grid;
    grid-template-rows: 75% 25%;
    width: 17%;
    height: 100%;
    cursor: pointer;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items:hover > .descriptionCon .level1 p {
    text-decoration: underline;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .imgCon {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(225, 225, 225, 0.5);
    padding: 1%;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .imgCon img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .descriptionCon {
    display: grid;
    grid-template-rows: 10% 45% 45%;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .descriptionCon .level1 {
    display: flex;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .descriptionCon .level1 p {
    font-size: 1.1vw;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .descriptionCon .level2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.shelf3 .shelf3Items .bottomShelf3ItemsCon .bottomShelf3Items .descriptionCon .level2 p {
    font-size: 1.1vw;
    color: rgb(88, 88, 88);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.shelf4 {
    display: grid;
    grid-template-columns: 4% 69% 2% 23% 2%;
    width: 100%;
    height: 45vh;
    margin-top: 5vh;
}

.shelf4 .shelf4Items {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 90%;
    margin: auto;
    border-radius: 3px;
    border: 1px solid rgb(174, 174, 174);
}

.shelf4 .shelf4Items .leftShelf4Items {
    display: grid;
    grid-template-rows: 30% 30% 20% 20%;
    width: 100%;
    height: 100%;
}

.shelf4 .shelf4Items .leftShelf4Items .level1 {
    display: grid;
    grid-template-rows:  10% 30% 40% 20%;
}

.shelf4 .shelf4Items .leftShelf4Items .level1 .topLevel1Items {
    display: flex;
    width: 100%;
    height: 100%;
}

.shelf4 .shelf4Items .leftShelf4Items .level1 .topLevel1Items p {
    color: #8b8b8b;
    font-size: 1vw;
    margin-top: auto;
    margin-left: 9%;
    margin-bottom: auto;
}

.shelf4 .shelf4Items .leftShelf4Items .level1 .centerLevel1Items {
    display: flex;
    width: 100%;
    height: 100%;
}

.shelf4 .shelf4Items .leftShelf4Items .level1 .centerLevel1Items p {
    font-size: 1.7vw;
    font-weight: 700;
    margin-left: 12%;
}

.shelf4 .shelf4Items .leftShelf4Items .level2 {
    display: grid;
    grid-template-rows: 60% 40%;
}

.shelf4 .shelf4Items .leftShelf4Items .level2 .topLevel2Items {
    display: flex;
}

.shelf4 .shelf4Items .leftShelf4Items .level2 .topLevel2Items p {
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: auto;
    margin-left: 9%;
    margin-bottom: auto;
}

.shelf4 .shelf4Items .leftShelf4Items .level2 .bottomLevel2Items {
    display: flex;
}

.shelf4 .shelf4Items .leftShelf4Items .level2 .bottomLevel2Items p {
    font-size: 1vw;
    color: #8b8b8b;
    margin-left: 9%;
}

.shelf4 .shelf4Items .leftShelf4Items .level3 {
    display: flex;
}

.shelf4 .shelf4Items .leftShelf4Items .level3 button {
    margin-top: auto;
    margin-left: 9%;
    margin-bottom: auto;
    border-radius: 0%;
    border: 1px solid #000000;
}

.shelf4 .shelf4Items .leftShelf4Items .level3 button:hover {
    color: #ffffff;
    background-color: rgb(236, 62, 62);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.shelf4 .shelf4Items .leftShelf4Items .level3 button:focus {
    box-shadow: none;
}

.shelf4 .shelf4Items .leftShelf4Items .level4 {
    display: flex;
}

.shelf4 .shelf4Items .leftShelf4Items .level4 button {
    display: flex;
    align-items: center;
    height: 70%;
    margin-left: 9%;
    border-radius: 0%;
    border: 1px solid #000000;
}

.shelf4 .shelf4Items .leftShelf4Items .level4 button:hover {
    color: #ffffff;
    background-color: rgb(236, 62, 62);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.shelf4 .shelf4Items .leftShelf4Items .level4 button:focus {
    box-shadow: none;
}

.shelf4 .shelf4Items .rightShelf4Items {
    width: 100%;
    height: 100%;
}

.shelf4 .shelf4Items .rightShelf4Items img {
    width: 100%;
    height: 100%;
}

.shelf4 .adCon {
    width: 100%;
    height: 90%;
    margin: auto;
    cursor: pointer;
}

.shelf4 .adCon img {
    width: 100%;
    height: 100%;
}

.shelf5 {
    display: grid;
    grid-template-rows: 80% 20%;
    width: 100%;
    height: 50vh;
    border-top: 1px solid #000000;
    margin-top: 10vh;
}

.shelf5 .topShelf5Items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf5 .topShelf5Items .footerItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    width: 20%;
    height: 100%;
}

.shelf5 .topShelf5Items .footerItems .level1P {
    font-size: 1.12vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.shelf5 .topShelf5Items .footerItems .level2P {
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.shelf5 .topShelf5Items .footerItems .level2P:hover {
    color: #187bcd;
    cursor: pointer;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.shelf5 .bottomShelf5Items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shelf5 .bottomShelf5Items p {
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}